{% extends "base.html" %}

{% block title %}Instante Infinito{% endblock %}

{% block content %}
  <div class="container">
    <h1>Enquanto não nos vemos...</h1>
    <p class="sub">
      Conectados desde
      <strong>{{ date_met }}</strong>
    </p>

    <p class="romantic-msg">
        “Enquanto o mundo gira, meu coração conta cada segundo  
        até encontrar o seu olhar pela primeira vez…”
    </p>

    <div id="contador">00:00:00:00</div>

    <p class="message">
      Cada segundo sem te ver é um verso que o coração escreve em segredo.
    </p>

    <button onclick="location.href='/magic'">
      Quando nos encontrarmos...
    </button>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    const start = new Date("{{ date_met }}");
  </script>
  <script src="/static/script.js"></script>
{% endblock %}
